@use '../../abstracts/' as *;

.misc-menu {
  &__action > img {
    height: rem(16);

    padding-inline: 0.5rem;

    cursor: pointer;

    @include breakpoint(medium) {
      height: rem(20);

      padding-inline: 1rem;
    }
  }

  &__menu {
    overflow: hidden;

    width: rem(192);

    left: 100%;
    transform: translateX(-100%);

    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);

    transition: height $opening-duration, padding $opening-duration;

    & > * {
      cursor: pointer;
    }

    & > *:last-child {
      color: var(--clr-primary-700);

      &:hover {
        color: var(--clr-primary-800);
      }
    }
  }

  &__menu--close {
    height: 0;

    padding-block: 0;
  }

  &__menu--open {
    height: rem(90);

    padding-block: 0.5rem;
  }
}
