// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  & > .board {
    flex: 1;
  }
}
