@use '../../abstracts/' as *;

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  display: grid;
  gap: rem(8);

  padding-block: rem(16);

  border-radius: 0 0 rem(4) rem(4);
  background-color: var(--clr-neutral-100);
  cursor: default;

  &__option {
    display: flex;
    align-items: center;

    min-height: rem(31);

    padding-inline: $padding-inline-box;

    &:hover {
      background-color: var(--clr-primary-250);
      color: var(--clr-neutral-500);
    }
  }
}
