@use '../../abstracts/' as *;

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  padding-block: rem(16);

  border-radius: 0 0 rem(8) rem(8);
  background-color: var(--clr-neutral-100);

  cursor: default;

  &__option {
    display: flex;
    align-items: center;

    min-height: rem(31);
    width: 100%;

    padding: 0.6rem $padding-inline-box;

    &:hover {
      background-color: var(--clr-neutral-200);
    }
  }
}
