@use '../../abstracts/' as *;

.select {
  position: relative;

  display: grid;
  gap: $label-gap;

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--clr-neutral-350);

    background-color: var(--clr-neutral-100);
    cursor: pointer;

    & > img {
      transition: 0.5s;
    }

    &--open {
      border-color: var(--clr-primary-400);

      & > img {
        transform: rotateX(180deg);
      }
    }
  }
}
