@use '../../abstracts/' as *;

.board-btn {
  justify-content: flex-start;
  gap: rem(12);

  width: 100%;

  padding-left: calc(var(--padding-inline) + 0.5rem);

  border-radius: 0 1.5rem 1.5rem 0;

  background-color: transparent;

  & > img {
    max-height: 18px;
    filter: invert(60%) sepia(26%) saturate(259%) hue-rotate(177deg)
      brightness(90%) contrast(87%);
  }

  &:hover {
    background-color: var(--clr-primary-200);

    & > img {
      filter: brightness(0) saturate(100%) invert(47%) sepia(15%)
        saturate(2464%) hue-rotate(204deg) brightness(82%) contrast(88%);
    }
  }

  &--current,
  &--current:hover {
    background-color: var(--clr-primary-400);

    & > img {
      filter: brightness(200%);
    }
  }

  &--btn-add > img {
    filter: brightness(0) saturate(100%) invert(47%) sepia(15%) saturate(2464%)
      hue-rotate(204deg) brightness(82%) contrast(88%);
  }
}
