@use '../../abstracts/' as *;

.column {
  display: grid;
  gap: rem(20);

  width: rem(280);
  height: fit-content;

  &__header {
    display: flex;
    align-items: center;
    gap: rem(12);

    height: min-content;

    margin-bottom: rem(4);
  }

  &__heading {
    display: flex;
    align-items: baseline;
  }

  &__heading-text {
    max-width: rem(200);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__color {
    height: 15px;
    width: 15px;
    border-radius: 50px;
  }
}
