@use '../../abstracts/' as *;

.header {
  display: flex;
  justify-content: space-between;

  min-height: var(--header-height);

  padding-right: calc(var(--padding-inline) + 0.5rem);

  border-bottom: 1px solid var(--clr-neutral-300);
  background-color: var(--clr-neutral-100);

  @include breakpoint-down(small) {
    padding-right: var(--padding-inline);
  }

  &__right {
    align-items: center;
    gap: calc(var(--padding-inline) + 0.5rem);
    padding: 0;
    margin-left: var(--padding-inline);

    @include breakpoint-down(small) {
      gap: 5px;
    }
  }

  &__logo-container {
    width: 25px;
    height: 100%;

    background-image: url('../assets/logo-mobile.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;

    @include breakpoint(medium) {
      min-width: calc(rem(200) - var(--padding-inline));

      border-right: 1px solid var(--clr-neutral-300);

      background-image: url('../assets/logo-dark.svg');
      transition: min-width $opening-duration;
    }

    @include breakpoint(large) {
      min-width: calc(rem(210) - var(--padding-inline));
    }

    &--menuOpen {
      @include breakpoint(medium) {
        min-width: calc(var(--side-width-open) - var(--padding-inline));
      }

      @include breakpoint(large) {
        min-width: calc(var(--side-width-open) - var(--padding-inline));
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: rem(10);

    @include breakpoint-down(small) {
      gap: 5px;
    }

    @include breakpoint(medium) {
      gap: rem(24);
    }
  }

  &__add-task {
    min-height: rem(32);

    padding-inline: rem(18);

    @include breakpoint(medium) {
      min-height: rem(48);

      padding-inline: rem(25);
    }
  }
}
