@use '../../abstracts/' as *;

.header {
  display: flex;
  justify-content: space-between;

  min-height: var(--header-height);
  padding-right: var(--padding-inline);
  border-bottom: 1px solid var(--clr-neutral-300);
  &__right {
    align-items: center;
    gap: var(--padding-inline);

    margin-left: var(--padding-inline);
  }

  &__logo-container {
    width: 25px;
    height: 100%;
    background-image: url('../../../../public/logo-mobile.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;

    @include breakpoint(medium) {
      border-right: 1px solid var(--clr-neutral-300);
      min-width: calc(rem(200) - var(--padding-inline));
      background-image: url('../../../../public/logo-dark.svg');
    }

    @include breakpoint(large) {
      min-width: calc(rem(210) - var(--padding-inline));
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: rem(10);
  }

  &__add-task {
    min-height: rem(32);
    padding-inline: rem(18);

    @include breakpoint(medium) {
      min-height: rem(48);
      padding-inline: rem(25);
    }
  }

  &__misc-action > img {
    height: rem(16);
  }
}
