@use '../../abstracts/' as *;

.menu {
  --padding-inline: 1rem;
  --flow: 1rem;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-neutral-850);

  overflow: hidden;
  z-index: 1;

  @include breakpoint(medium) {
    --padding-inline: 1.5rem;

    right: calc(100% - var(--side-width-open));
    border-right: 1px solid var(--clr-neutral-300);
    background-color: transparent;
    transition: transform $opening-duration;
  }

  &__event-close {
    height: 100%;

    @include breakpoint(medium) {
      height: calc(100% - var(--header-height) + 1px);

      margin-top: calc(var(--header-height) - 1px);
    }
  }

  &__wrapper {
    display: grid;
    gap: var(--flow);
    align-content: space-between;

    max-width: rem(300);

    margin-inline: rem(55);
    padding-block: 1rem;
    padding-right: var(--padding-inline);

    border-radius: rem(8);
    background-color: var(--clr-neutral-100);

    transform: translateY(-100%);
    transition: transform $opening-duration;

    @include breakpoint(medium) {
      height: 100%;

      margin-inline: 0;
      padding-block: rem(32);

      border-radius: 0;
    }
  }

  &--close {
    top: var(--header-height);

    opacity: 1;
    transform: translateY(0);

    animation: fade-out calc($opening-duration / 2) calc($opening-duration / 2)
        forwards,
      slide-out 1ms $opening-duration forwards;

    @include breakpoint(medium) {
      top: 0;
      animation: none;

      transform: translateX(-100%);
    }

    .menu__wrapper {
      transform: translateY(-100%);

      @include breakpoint(medium) {
        transform: translateY(0);
      }
    }
  }

  &--open {
    top: var(--header-height);
    opacity: 0;

    animation: fade-in calc($opening-duration / 2) forwards;

    @include breakpoint(medium) {
      top: 0;
      opacity: 1;

      animation: none;

      transform: translateX(0);
    }

    .menu__wrapper {
      transform: translateY(1rem);

      @include breakpoint(medium) {
        transform: none;
      }
    }
  }

  &__sup,
  &__inf {
    display: grid;
    gap: var(--flow);
  }

  &__heading {
    padding-left: calc(var(--padding-inline) + 0.5rem);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-120%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
