@use '../../abstracts/' as *;

.modal-task-details {
  &__header {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
  }

  &__content {
    display: grid;
    gap: 0.5rem;

    & > h3 {
      margin-bottom: 0;
    }
  }
}
