$colors: (
  primary: (
    200: hsl(245, 52%, 96%),
    250: hsl(242, 48%, 89%),
    300: hsl(242, 100%, 82%),
    400: hsl(242, 48%, 58%),
    700: hsl(0, 100%, 80%),
    800: hsl(0, 78%, 63%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(220, 69%, 97%),
    300: hsl(221, 69%, 94%),
    350: hsla(216, 15%, 57%, 0.24),
    400: hsl(216, 15%, 57%),
    450: hsl(231, 6%, 51%),
    500: hsl(236, 11%, 27%),
    600: hsl(235, 12%, 19%),
    700: hsl(235, 16%, 15%),
    800: hsl(237, 100%, 4%),
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }

  /// Build css utility for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      .fc-#{$color-type}-#{$shade} {
        color: $color;
      }
    }
  }
}
