@use './mixins' as *;

$scale: (
  sm: (
    200: 0.75rem,
    300: 0.8125rem,
    400: 0.9375rem,
    500: 1.125rem,
    600: 1.125rem,
  ),
  lg: (
    200: 0.75rem,
    300: 0.8125rem,
    400: 0.9375rem,
    500: 1.125rem,
    600: 1.5rem,
  ),
);

$weights: (
  normal: 500,
  bold: 800,
);

:root {
  /// Build css custom variables for font-size
  /// It integer a media query for each font (mobile-first)
  /// Une autre solution serait d'utiliser clamp()
  /// ==> clamp(valFixMinEnREM, valFixEnREMPlusValEnVW, valFixMaxEnREM)
  /// ==> valFixMinEnREM sont les valeur pour 'small' et valFixMaxEnREM sont les valeurs pour 'large'
  @each $screen-size, $font-size in $scale {
    @if $screen-size == 'sm' {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include breakpoint(large) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }

  @each $screen-size, $font-size in $scale {
    @each $font-key, $font-value in $font-size {
      .fs-#{$font-key} {
        @if $screen-size == 'sm' {
          font-size: var(--fs-#{$font-key});
        }
      }
    }
  }

  @each $name, $value in $weights {
    --fw-#{$name}: #{$value};
  }
}
